//$m-bcg-c: #F9F9F9;
$m-txt-c: rgba(219, 215, 2, 1.0);
$add-line-c: rgba(219, 215, 2, 1.0);
$tile-c: #AE1313;

$main-text-yellow-strong: rgba(219, 215, 2, 1.0);
$main-text-yellow-soft: rgba(229, 226, 1, 1.0);
$main-text-white-strong: rgba(246, 246, 246, 1.0);
$main-text-white-soft: rgba(238, 238, 238, 1.0);

$main-background-mate-strong: rgba(69, 84, 103, 1.0);
//$main-background-mate-soft: rgba(81, 91, 103, 1.0);
$m-bcg-c: rgba(30, 30, 30, 1.0);
$main-background-mate-soft-lighter: rgba(40, 40, 40, 1.0);
